{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/cola_detail.css' %}" />
{% endblock %}

{% block content %}
  <div class="page-content center">
    <div class="card">
      <h2>{{ cola.name }}</h2>
      <p>
        <small>{{ cola.brand }}</small>
      </p>
      <div class="brand-img">
        {% if cola.image_url %}
          <img src="{{ cola.image_url }}" alt="Image of the brand of cola" />
        {% else %}
          <img src="{% static 'images/coca-cola.svg' %}" alt="Default image of a cola brand" />
        {% endif %}
      </div>
      <p>Fizz Rating: {{ cola.fizz_rating }}/10</p>
    </div>
    <div class="actions">
      <a href="{% url 'cola-update' cola.pk %}">Edit</a>
      <a href="{% url 'cola-delete' cola.pk %}">Delete</a>
    </div>
    <div class="list-of-lists">
      {% if cola_ingredients %}
        <h2>Cola Ingredients</h2>
        <ul class="sub-list depth1">
          {% for ingr in cola_ingredients %}
            <li>
              <div class="flex-line">
                <form action="{% url 'cola-ingredient-increment' cola.id ingr.id %}">
                  <button type="submit">+1</button>
                </form>
                <form action="{% url 'cola-ingredient-decrement' cola.id ingr.id %}">
                  <button type="submit">-1</button>
                </form>
                {{ ingr }}
                <form action="{% url 'cola-ingredient-delete' cola.id ingr.id %}">
                  <button type="submit" class="delete-btn">Remove</button>
                </form>
              </div>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <h2>No ingredients added</h2>
      {% endif %}
      {% if ingredients.count %}
        <h2>All Ingredients</h2>
        <form method="post" class="form">
          {% csrf_token %}
          {{ cola_ingredient_form.as_p }}
          <button type="submit" name="attach_ingredient">Add Ingredient</button>
        </form>
      {% endif %}
      <h2>Create Ingredient</h2>
      <form method="post" class="form">
        {% csrf_token %}
        {{ ingredient_form.as_p }}
        <button type="submit" name="create_ingredient">Create</button>
      </form>
    </div>
  </div>
{% endblock %}
